/*HOJA DE ESTILOS*/

/*NOSOTROS*/
.img-fragancias{
    width: 90%;
    padding-bottom: 60px;
}

.encabezadoNosotros{
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.encabezadoNosotros2{
    padding-left: 80px;
    padding-right: 80px;
}

.containerNuestraHistoria{       
    width: 400px;           
    margin-left: 50px; 
    margin-top: 0px;           
}

.containerNuestrasFragancias{
    color: #2D2D2D;
    padding-right: 10px;    
    font-size: 17px;
    margin-left: 100px;
}

.titleFragancias{
    color: #2D2D2D;
    font-size: 40px;  
    padding-left: 100px;  
    margin-right: 50px;
}

.parrafoNuestraHistoria{
    margin-right: 0px;
}

.encabezadoTestimonios{
    margin-top: 100px;
    text-align: center;
}

.tituloTestimonios{
    margin-left: 400px;
    margin-right: 400px;
}

.parrafoNosotros{
    margin-right: 45px;
    margin-left: 45px
}

.textNosotros{
    color: #2D2D2D;    
    font-size: 17px;          
}

.carruselNosotros{
    width: 75%;
}

.parrafoNuestrasFragancias{
    margin-right: 50px;
    padding-left: 100px;
}

.parrafoMateriales{
    padding-right: 100px;
}

.img-nuestra-historia{
    width: 100%;
}

.img-materiales{
    margin-left: 30px;
    width: 90%;
    padding-bottom: 60px;
}

.titleMateriales{
    color: #2D2D2D;
    font-size: 40px; 
    padding-right: 100px;
}

.containerMateriales{
    margin-right: 80px;
}

.carruselNosotros{
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
}

.textoTestimonio{
    margin-left: 450px;
    margin-right: 450px;
}

.contenedorIconosNosotros{                
    display: flex;
    flex-direction: row;
    justify-content: center;         
    margin-top: -50px;
}

.textBanner{
    margin-left: 400px;    
    margin-right: 400px;
    text-align: center;  
}

.textCatalogo{  
    margin-left: 460px;    
    margin-right: 460px;                   
 }

 .titleEncabezadoNosotros{
    font-size: 60px;
    color: #804B37;
    font-weight: bold;
 }

/*------------------------------------*/

/*Media Queries Mobile*/
@media (min-width: 320px) and (max-width: 374px) {
    .parrafoEncabezado{
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 50px;        
        width: 100%;
        text-align: center;
    }

    .encabezadoNosotros{               
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;        
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .containerMateriales{               
        width: 100%;           
        margin-left: 0px; 
        margin-top: 10px;  
        text-align: end;        
        margin-right: 0px;        
    }

    /*Características*/
    .contenedorIconosNosotros{                
        display: flex;
        flex-direction: column;
        justify-content: center;         
        margin-top: -80px;        
        width: 100%;
    }

    .textNosotros{
        margin-bottom: 12px;        
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;     
    }

    .iconoNosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

    .parrafoNosotros{
        margin-left: 40px;  
        margin-right: 40px;
    }

    .catalogoContainer{
        width: 100%;
        background-color: #DED5C2;
        margin-left: 0px;
    }

    .textBanner{  
       text-align: center;       
       margin-left: 0px;
       width: 100%;  
    }

    .img-fragancias{
        width: 100%;   
        margin-left: 5px;     
    }

    .parrafoMateriales{
        margin-right: 0px;               
        width: 100%;       
    }

    .containerNuestrasFragancias{
        color: #2D2D2D;            
        font-size: 17px;
        margin-left: 0px;
        margin-top: -50px;                       
    }

    .parrafoNuestrasFragancias{        
        padding-left: 0px;
        width: 100%;
        text-align: left;
    }

    .img-materiales{        
        width: 100%;   
        margin-top: -45px;  
        margin-left: 0px;
        margin-bottom: -40px;
    } 

    .img-nuestra-historia{
        width: 100%;
    }

    .parrafoMateriales{
        padding-right: 0px;
        width: 100%;
    }

    .containerMateriales{
        
        width: 100%;
        text-align: end;
    }

    .titleMateriales{
        color: #2D2D2D;
        font-size: 40px; 
        padding-right: 0px;
    }

    .encabezadoTestimonios{
        margin-top: 40px;
        text-align: center;        
        width: 100%;
    }

    .tituloTestimonios{
        margin-left: 25px;
        margin-right: 25px;
    }

    .carruselNosotros{
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 0px;
        width: 100%;
    }

    .contenedorTestimonio{        
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .textoTestimonio{
        text-align: center;
        margin-left: 0px;
        margin-right: 30px;        
    }

    .containerNuestraHistoria{              
        width: 100%;           
        margin-left: 10px; 
        margin-top: 0px;           
    }

    .parrafoNuestraHistoria{
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .titleFragancias{
        color: #2D2D2D;
        font-size: 40px;  
        padding-left: 0px;  
        text-align: left;
        width: 320px;
    }

    .containerNuestrasFragancias{
        color: #2D2D2D;
        padding-right: 0px;    
        font-size: 17px;
        margin-left: 0px;        
        width: 100%;
    }

    .catalogoContainer{
        width: 100%;
        background-color: #DED5C2;
        margin-left: 0px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-items: center;
     }

     .contenedorMayorista{
        margin-top: 0px;
     }

     .textCatalogo{  
        text-align: center;       
        margin-left: -10px;
        margin-right: 20px;
        width: 100%;                  
     }

     .titleEncabezadoNosotros{
        font-size: 32px;
        color: #2D2D2D;
        font-weight: bold;
     }
     
}

@media (min-width: 375px) and (max-width: 424px) {
    .catalogoContainer{
        width: 395px;
        background-color: #DED5C2;
        margin-left: 0px;
     }

     .textCatalogo{  
        text-align: center;       
        margin-left: -10px;
        margin-right: 20px;
        width: 300px;                  
     }

    .parrafoEncabezado{
        margin-left: 60px;
        margin-right: 50px;
        margin-bottom: 50px;  
    }

    .encabezadoNosotros{        
        width: 375px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;        
        align-items: center;        
    }    

    .img-materiales{        
        width: 100%;   
        margin-top: 0px;  
        margin-left: 0px;
        margin-bottom: -40px;
    } 

    /*Características*/
    .contenedorIconosNosotros{                
        display: flex;
        flex-direction: column;
        justify-content: center;         
        margin-top: -80px;  
    }

    .textNosotros{
        margin-bottom: 12px;        
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;     
    }

    .iconoNosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

    .parrafoNosotros{
        margin-left: 50px;  
        margin-right: 50px;
    }

    .catalogoContainer{
        background-color: #DED5C2;
        margin-left: 0px;
        width: auto;
    }

    .textBanner{  
       text-align: center;       
       margin-left: 0px;
       width: 320px;        
    }

    .img-fragancias{
        width: 100%;   
        margin-left: 0px;     
    }

    .parrafoMateriales{
        margin-right: 0px; 
    }

    .containerNuestrasFragancias{
        color: #2D2D2D;            
        font-size: 17px;
        margin-left: 0px;
        margin-top: -50px;                       
    }

    .parrafoNuestrasFragancias{        
        padding-left: 0px;        
        text-align: left;
        width: 100%;
    }

    .containerMateriales{  
        margin-left: 10px; 
        margin-top: 0px;  
        text-align: left;                 
    }    

    .img-nuestra-historia{
        width: 109%;
    }

    .parrafoMateriales{
        padding-right: 0px;
        width: 100%;
    }    

    .titleMateriales{
        color: #2D2D2D;
        font-size: 40px; 
        padding-right: 0px;
        width: 370px;
    }

    .encabezadoTestimonios{
        margin-top: 50px;
        text-align: center;  
    }

    .tituloTestimonios{
        margin-left: 50px;
        margin-right: 50px;
    }

    .carruselNosotros{
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
    }

    .contenedorTestimonio{        
        margin-left: 5px;
    }

    .textoTestimonio{
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;        
    }

    .containerNuestraHistoria{              
                  
        margin-left: 10px; 
        margin-top: 0px;           
    }

    .parrafoNuestraHistoria{
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .titleFragancias{
        color: #2D2D2D;
        font-size: 40px;  
        padding-left: 0px;  
        text-align: left;
        width: 370px;
    }

    .containerNuestrasFragancias{
        color: #2D2D2D;
        padding-right: 0px;    
        font-size: 17px;
        margin-left: 0px;
    }

    .contenedorMateriales{
        display: flex;
        flex-direction: row;
        width: 100%;               
    }

    .titleEncabezadoNosotros{
        font-size: 32px;
        color: #2D2D2D;
        font-weight: bold;
     }
}

@media (min-width: 425px) and (max-width: 767px) {
    .bannerNosotros {        
        background-color: #DED5C2;
        margin-left: 0px;
        width: auto;
     }

    .parrafoEncabezado{
        margin-left: 60px;
        margin-right: 50px;
        margin-bottom: 50px;        
        width: auto;        
    }
    .encabezadoNosotros{        
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;        
        align-items: center;                
    }   
    
    .encabezadoNosotros2{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    /*Características*/
    .contenedorIconosNosotros{                
        display: flex;
        flex-direction: column;
        justify-content: center;         
        margin-top: -10px;       
        margin-left: 8px; 
        width: auto;        
    }

    .textNosotros{
        margin-bottom: 12px;        
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;     
    }

    .textCatalogo{  
        text-align: center;       
        margin-left: 0px;
        margin-right: 0px;
        width: auto;                  
     }

    .iconoNosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin-left: 0px;       
    }

    .parrafoNosotros{
        margin-left: 0px;  
        margin-right: 0px;
    }    

    .textBanner{  
       text-align: center;       
       margin-left: 0px;
       width: 100%;        
    }

    .img-fragancias{
        width: 100%;   
        margin-left: 0px;     
    }

    .img-materiales{
        margin-left: 0px;
        width: 100%;
        padding-bottom: 10px;
    }

    .parrafoMateriales{
        margin-right: 0px;               
        width: 100%;       
    }

    .containerNuestrasFragancias{
        color: #2D2D2D;            
        font-size: 17px;
        margin-left: 0px;
        margin-top: -50px;                       
    }

    .parrafoNuestrasFragancias{        
        padding-left: 0px;
        width: auto;
        text-align: left;
    }

    .containerMateriales{       
        width: auto;           
        margin-left: 0px; 
        margin-top: 10px;  
        text-align: end;                 
    }    

    .img-nuestra-historia{
        width: 100%;
    }

    .parrafoMateriales{
        padding-right: 0px;
        width: auto;
    }

    .containerMateriales{  
        width: 100%;
        text-align: end;        
    }

    .titleMateriales{
        color: #2D2D2D;
        font-size: 40px; 
        padding-right: 0px;
    }

    .encabezadoTestimonios{
        margin-top: 100px;
        text-align: center;        
        width: 100%;                
    }

    .tituloTestimonios{
        margin-left: 0px;
        margin-right: 0px;
    }

    .carruselNosotros{
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
    }

    .contenedorTestimonio{        
        margin-left: 5px;
    }

    .textoTestimonio{
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;        
    }

    .containerNuestraHistoria{                      
        width: 100%;           
        margin-left: 10px; 
        margin-top: 0px;           
    }

    .parrafoNuestraHistoria{
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .titleFragancias{
        color: #2D2D2D;
        font-size: 40px;  
        padding-left: 0px;  
        text-align: left;
    }

    .containerNuestrasFragancias{
        color: #2D2D2D;
        padding-right: 0px;    
        font-size: 17px;
        margin-left: 0px;        
        width: 100%;
    }

    .titleEncabezadoNosotros{
        font-size: 32px;
        color: #2D2D2D;
        font-weight: bold;
     }
}

/*Media Queries Tablet*/
@media (min-width: 768px) and (max-width: 1023px)  {
    
    .encabezadoNosotros{        
        width: 100%;        
        display: flex;
        flex-direction: column;        
        justify-content: center;
        justify-items: center;
        align-items: center;   
        align-content: center;   
        text-align: center;                  
    }

    .encabezadoNosotros2{        
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;        
    }    

    .containerMateriales{ 
        width: 100%;           
        margin-left: 0px; 
        margin-top: 10px;          
        text-align: left; 
    }

    /*Características*/
    .contenedorIconosNosotros{                
        display: flex;
        flex-direction: column;
        justify-content: center;         
        margin-top: -10px;       
        margin-left: 38px; 
        width: 670px;                
    }

    .textNosotros{
        margin-bottom: 12px;        
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;     
    }

    .iconoNosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin-left: 0px;       
    }

    .parrafoNosotros{
        margin-left: 0px;  
        margin-right: 0px;
    }

    .bannerNosotros {
        width: 700px;
        align-items: center;
    }

    .textBanner{  
       text-align: center;       
       margin-left: 50px;
       width: 560px;        
    }

    .img-fragancias{
        width: 100%;   
        margin-left: 10px;     
    }

    .parrafoMateriales{
        margin-right: 0px;               
        width: 500px;               
    }

    .containerNuestrasFragancias{
        color: #2D2D2D; 
        padding-right: 0px;    
        font-size: 17px;
        margin-left: 0px;  
        margin-top: 0px;      
        width: 100%;                     
    }

    .parrafoNuestrasFragancias{        
        padding-left: 10px;
        width: 100%;
        text-align: right;
    }       

    .img-nuestra-historia{
        width: 98%;
        margin-left: 0px;
    }

    .parrafoMateriales{       
        width: 100%;   
        background-color: pink;    
        padding-right: 12px;
    }    

    .titleMateriales{
        color: #2D2D2D;
        font-size: 40px;      
        background-color: pink;   
        padding-right: 0px;
    }

    .encabezadoTestimonios{
        margin-top: 100px;
        text-align: center;        
        width: 750px;                
    }

    .tituloTestimonios{
        margin-left: 0px;
        margin-right: 0px;
    }

    .carruselNosotros{
        margin-left: 100px;
        margin-top: 0px;
        width: 160%;
    }

    .contenedorTestimonio{        
        margin-left: 5px;
    }

    .textoTestimonio{
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;        
    }

    .containerNuestraHistoria{                      
        width: 640px;           
        margin-left: 10px; 
        margin-top: 0px; 
        margin-right: 0px;
        margin-bottom: 10px;          
    }    

    .titleFragancias{
        color: #2D2D2D;
        font-size: 40px;  
        padding-left: 0px;  
        text-align: right;
        width: 100%;
    }    

    .contenedorMayorista{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        justify-items: center;        
    }

    .contenedorMateriales{
        display: flex;
        flex-direction: row;
        width: auto;        
    }

    .catalogoContainer{
        width: 100%;        
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
     }    

     .textCatalogo{  
        text-align: center;  
        width: 70%;                  
     }

     .titleEncabezadoNosotros{
        width: 600px;
        font-size: 60px;
        color: #804B37;
        font-weight: bold;        
     }
}

/*Media Queries Desktop*/
@media (min-width: 1024px) and (max-width: 1439px) {
    .encabezadoNosotros{
        margin-top: 100px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }
    
    .containerNuestraHistoria{       
        width: auto;           
        margin-left: 0px; 
        margin-top: 0px;           
    }
    
    .containerNuestrasFragancias{
        color: #2D2D2D;
        padding-right: 0px;    
        font-size: 17px;
        margin-left: 0px;                
    }
    
    .titleFragancias{
        color: #2D2D2D;
        font-size: 40px;          
    }
    
    .parrafoNuestraHistoria{
        margin-right: 0px;
    }
    
    .encabezadoTestimonios{
        margin-top: 100px;
        text-align: center;
    }
    
    .tituloTestimonios{
        margin-left: 400px;
        margin-right: 400px;
    }
    
    .parrafoEncabezado{
        margin-left: 250px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
    
    .parrafoNosotros{
        margin-right: 45px;
        margin-left: 45px
    }
    
    .textNosotros{
        color: #2D2D2D;        
        font-size: 17px;          
    }
    
    .carruselNosotros{
        width: 75%;
    }
    
    .parrafoNuestrasFragancias{
        margin-right: 5px;
        padding-left: 5px;
    }
    
    .parrafoMateriales{
        padding-right: 40px;
    }
    
    .img-nuestra-historia{
        width: 98%;
    }
    
    .titleMateriales{
        color: #2D2D2D;
        font-size: 40px; 
        padding-right: 100px;
    }
    
    .containerMateriales{
        margin-right: 0px;        
    }
    
    .carruselNosotros{
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
    }
    
    .textoTestimonio{
        margin-left: 280px;
        margin-right: 280px;
    }
    
    .contenedorIconosNosotros{                
        display: flex;
        flex-direction: row;
        justify-content: center;         
        margin-top: -50px;
    }

    .contenedorTestimonio{        
        margin-left: 0px;
    }

    .tituloTestimonios{
        margin-left: 0px;
        margin-right: 0px;
    }

    .img-materiales{
        margin-left: 0px;        
        padding-bottom: 50px;
    }

    .textBanner{
        margin-left: 260px;    
        margin-right: 260px;
        text-align: center;  
    }

    .textCatalogo{  
        margin-left: 260px;    
        margin-right: 260px;                           
     }

     .encabezadoNosotros2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        padding-left: 80px;
        padding-right: 80px;
     }
}

@media (min-width: 1440px){
    .img-nuestra-historia{
        margin-left: 30px;
    }

    .encabezadoNosotros2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        padding-left: 80px;
        padding-right: 80px;
     }
}
