/*HOJA DE ESTILOS*/
/*Test*/
.contenedorTest{
    font-family: 'montserrat';     
    width: 700px;     
    margin-left: 200px;  
    text-align: center;
    color: #804B37
}

.contenedorPregunta{
    background-color: #FFFFFF;   
    text-align: center;
    border: 1px solid;
    border-radius: 30px;   
    border-color: #804B37;
    padding: 30px;    
    margin-bottom: 45px;
    width: 700px;
}

.contenedor-opciones{
    display: flex;
    flex-direction: row;    
    align-items: center;
    flex-wrap: wrap;
}

.botonOpcion{
    background-color: #FFFFFF;
    color: #2D2D2D;
    width: 200px;
    height: 41px;
    border-radius: 19px;   
    border-color: #804B37;    
    margin-bottom: 20px;  
    margin-right: 10px;   
    font-size: 14px;    
}

.botonOpcion:hover{
    background-color: #804B37;  
    color: #FFFFFF;
    width: 200px;
    height: 41px;
    border-radius: 19px;   
    border-color: #804B37;    
    margin-bottom: 20px;     
    font-size: 14px;    
}