/*HOJA DE ESTILOS*/
/*ItemListContainer*/
.button-style{
    background-color: #FFFFFF;
    color: #804B37;
    padding: "4px 10px";
    border-radius: 15px;   
    border-color: #804B37;
}

.button-style:hover{
    background-color: #804B37;
    color: #FFFFFF;
    padding: "4px 10px";
    border-radius: 15px;   
    border-color: #804B37;
}

.container-style{
    min-width: 100%;
    position: relative;
    left: 0;
}

/*pagination*/
.paginationStyle{
    margin-left: 2px;
    margin-right: 5px;
    background-color: #FFFFFF;
    border-color: #804B37;
    border-radius: 11px;
    color: #2D2D2D;
}

.paginationStyle:hover{
    background-color: #804B37;
    color: #FFFFFF;
    border-color: #804B37;
}

.paginationStyle:focus{
    background-color: #804B37;
    color: #FFFFFF;
    border-color: #804B37;
}

/*Media Queries Mobile*/
@media (max-width: 425px)  {       
    .encabezadoCatalogo{
        margin-left: 6px;
    }

    .filaProductos{        
        padding-left: 80px;
    }

    .nombreProducto{
        margin-left: 0px;
    }

    .contenedorDestacados{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
}


