/*HOJA DE ESTILOS*/
/*ItemListContainer*/
.button-style{
    background-color: #FFFFFF;
    color: #804B37;
    padding: "4px 10px";
    border-radius: 15px;   
    border-color: #804B37;
}

.button-style:hover{
    background-color: #804B37;
    color: #FFFFFF;
    padding: "4px 10px";
    border-radius: 15px;   
    border-color: #804B37;
}

.container-style{
    min-width: 100%;
    position: relative;
    left: 0;
}

.contenedorDestacados{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/*pagination*/
.paginationStyle{
    margin-left: 2px;
    margin-right: 5px;
    background-color: #FFFFFF;
    border-color: #804B37;
    border-radius: 11px;
    color: #2D2D2D;
}

.paginationStyle:hover{
    background-color: #804B37;
    color: #FFFFFF;
    border-color: #804B37;
}

.paginationStyleActive{
    background-color: #804B37;
    color: #FFFFFF;
    border-color: #804B37;
}

/*Media Queries Mobile*/
@media (max-width: 767px) and (min-width: 425px)  {  
    .estiloPaginacion{
        transform: translateX(-70px);
    }     
    .encabezadoCatalogo{
        margin-left: 6px;
    }

    .filaProductos{            
        display: flex;    
        flex-direction: column;
        align-content: center;
        padding-left: 55px;
        margin-left: -40px;        
    }

    .nombreProducto{
        margin-left: 0px;
    }

    .contenedorDestacados{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .estiloPaginacion{
        margin-left: 40px;
    }
}

/*Media Queries Tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
    .contenedorDestacados{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .container-encabezado{
        width: 680px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .encabezadoCatalogo{
        background-color: red;
        margin-left: 6px;
    }

    .testContainer{
        width: 700px;
        background-color:#DED5C2;
    }

    .filaProductos{
        background-color: yellow;
        width: 540px;
        margin-left: 40px;
    }
}

/*Media Queries Desktop*/
@media (min-width: 1024px) and (max-width: 1365px) {
    .contenedorDestacados{
        display: flex;
        flex-direction: column;
        justify-content: left;       
    }
}



