.subrayado{
    color: #2D2D2D;
    text-decoration: none;
}

.subrayado:hover{    
    text-decoration: underline;
    color: #804B37;
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 374px){
    .titleFilter{
        text-align: center;
        margin-left: -30px;
        padding-bottom: 12px;
    }    

    .filterStyle{        
        width: auto;
        height: 50px;
        line-height: 8px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;    
        margin-left: -30px;   
        padding-right: 10px;
    }
}

@media (min-width: 375px) and (max-width: 424px){
    .titleFilter{
        text-align: center;
        margin-left: 0px;
        padding-bottom: 12px;
    } 

    .filterStyle{        
        width: auto;
        height: 50px;
        line-height: 6px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;    
        margin-left: -20px;   
        padding-right: 10px;
    }
}

@media (min-width: 425px) and (max-width: 767px)  {   
    .titleFilter{
        text-align: center;
        margin-left: -30px;
        padding-bottom: 12px;
    }    
    
    .filterStyle{        
        width: 320px;
        height: 50px;
        line-height: 6px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;    
        margin-left: 0px;   
        padding-right: 10px;
    }
}