.subrayado{
    color: #2D2D2D;
    text-decoration: none;
}

.subrayado:hover{    
    text-decoration: underline;
    color: #804B37;
    font-weight: bold;
}

@media (max-width: 425px)  {       
    .filter-style{        
        width: 300px;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; 
        align-items: center;
        text-align: center;  
        margin-left: 10px; 
    }

    .titleFilter{
        text-align: center;
        margin-left: -40px; 
    }
}