/*HOJA DE ESTILOS*/
/*FOOTER*/
.footer-container {
    background-color: #ded5c2;
    max-width: 100%;
}

.contenedorSecciones{
    display: flex;
    justify-content: space-around;
    align-items: start;
}

/*Media Queries Mobile*/
@media (min-width: 320px) and (max-width: 374px)  {        
    .footer-container {
        background-color: #ded5c2;        
    }    

    .style-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;          
    }    

    .contenedorSecciones{        
        display: flex;
        flex-direction: column;
        justify-content: center;        
        align-items: center;
        text-align: center;        
    }    

    .ocultarSecciones{
        display: none;
    }
}

@media (min-width: 375px) and (max-width: 424px){
    .footer-container {
        background-color: #ded5c2;        
    }    

    .style-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    } 

    .contenedorSecciones{        
        display: flex;
        flex-direction: column;
        justify-content: center;        
        align-items: center;
        text-align: center;        
    }

    .footerIcons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;        
    }

    .ocultarSecciones{
        display: none;
    }
}

@media (min-width: 425px) and (max-width: 767px){
    .footer-container {
        background-color: #ded5c2;        
    }    

    .style-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }
    
    .contenedorSecciones{
        background-color: #ded5c2;   
        display: flex;
        flex-direction: column;
        justify-content: center;        
        align-items: center;
        text-align: center;        
    }

    .footerIcons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;        
    }

    .ocultarSecciones{
        display: none;
    }
}
