@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --backg-body: #FFFFFF;
  --color-primario: #804B37;
  --color-texto: #2D2D2D;
  --color-acento: #C78750;
  --color-hover: #C78750;
  --color-texto-hover: #FFFFFF;
  --size-texto-titulo-pc: 60px;
  --size-texto-titulo-mobile: 32px;
  --size-texto-texto: 17px;
}

*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}