/*HOJA DE ESTILOS*/
/*ItemList*/

.button-style{
    background-color: #FFFFFF;
    color: #804B37;
    padding: "4px 10px";
    border-radius: 15px;   
    border-color: #804B37;
}

.button-style:hover{
    background-color: #804B37;
    color: #FFFFFF;
    padding: "4px 10px";
    border-radius: 15px;   
    border-color: #804B37;
}

.overflow-style{
    height: 100px;
    overflow: hidden;
}

/*Media Queries Tablet*/
@media (max-width: 767px) and (min-width: 425px) {
    .listaProductos{
        display: flex;
        flex-direction: column;
        justify-content: left;                
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .listaProductos{
        display: flex;
        flex-direction: row;
        justify-content: left;        
        width: 720px;
    }
} 
