/*HOJA DE ESTILOS*/
/*ItemList*/

.button-style{
    background-color: #FFFFFF;
    color: #804B37;
    padding: "4px 10px";
    border-radius: 15px;   
    border-color: #804B37;
}

.button-style:hover{
    background-color: #804B37;
    color: #FFFFFF;
    padding: "4px 10px";
    border-radius: 15px;   
    border-color: #804B37;
}

.overflow-style{
    height: 100px;
    overflow: hidden;
}